<div class="factors-container">
  <mat-card class="factors-main-card">
    <mat-card-header>
      <mat-card-title>Factors for Setups</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <button
        mat-raised-button
        color="primary"
        (click)="onAdd()"
        class="create-button"
      >
        <mat-icon>add</mat-icon>
        Create Factor
      </button>

      <div *ngIf="loading$ | async" class="loader-container">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>

      <div class="factors-list" *ngIf="!(loading$ | async)">
        <mat-card *ngFor="let factor of factors$ | async" class="factor-card">
          <div class="actions">
            <button mat-icon-button matTooltip="Edit" (click)="onEdit(factor)">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="Delete"
              (click)="onDelete(factor.id)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <mat-card-header>
            <mat-card-title class="factor-card-title">{{
              factor.name
            }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{ factor.description }}</p>
            <p>Priority: {{ factor.priority }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
